<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alternativa">
            <h2><span jhiTranslate="repo7App.alternativa.detail.title">Alternativa</span> {{alternativa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="repo7App.alternativa.ordem">Ordem</span></dt>
                <dd>
                    <span>{{alternativa.ordem}}</span>
                </dd>
                <dt><span jhiTranslate="repo7App.alternativa.questao">Questao</span></dt>
                <dd>
                    <div *ngIf="alternativa.questao">
                        <a [routerLink]="['/questao', alternativa.questao?.id, 'view']">{{alternativa.questao?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alternativa', alternativa.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
