<div>
    <h2 id="page-heading">
        <span jhiTranslate="repo7App.prova.home.title">Prova</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prova" [routerLink]="['/prova/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="repo7App.prova.home.createLabel">
            Create a new Prova
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="prova?.length === 0">
        <span jhiTranslate="repo7App.prova.home.notFound">No prova found</span>
    </div>
    <div class="table-responsive" *ngIf="prova?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.ano">Ano</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.cidade">Cidade</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.dataHoraInicio">Data Hora Inicio</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.dataHoraFim">Data Hora Fim</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.instituicao">Instituicao</span></th>
            <th scope="col" ><span jhiTranslate="repo7App.prova.edital">Edital</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prova of prova ;trackBy: trackId">
                <td><a [routerLink]="['/prova', prova.id, 'view' ]">{{prova.id}}</a></td>
                <td>{{prova.ano}}</td>
                <td>{{prova.cidade}}</td>
                <td>{{prova.dataHoraInicio | date:'medium'}}</td>
                <td>{{prova.dataHoraFim | date:'medium'}}</td>
                <td>
                    <div *ngIf="prova.instituicao">
                        <a [routerLink]="['/instituicao', prova.instituicao?.id, 'view' ]" >{{prova.instituicao?.nome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="prova.edital">
                        <a [routerLink]="['/edital', prova.edital?.id, 'view' ]" >{{prova.edital?.descricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prova', prova.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prova', prova.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(prova)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
